$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;

$white: #fbfcfc;

$grey: #f2f3f4;

$mustard: #f1c40f;

$navy-blue: #2471a3;

$red: #e74c3c;

$green: #2ecc71;

$font-large: 30px;
$font-larger: 35px;

$line-height-large: 45px;
$line-height-larger: 50px;

$box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
